# 서울시 CCTV현황 분석 및 인구 현황 분석

## CCTV 설치 현황

In [1]:
import pandas as pd

In [49]:
CCTV_Seoul = pd.read_excel('../Data/CCTV_in_Seoul_2018.xlsx')
CCTV_Seoul.head()

   기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [50]:
CCTV_Seoul.tail()

    기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
20  용산구  2063    1279.0  152.0  201.0    107    102     89     60     73
21  은평구  2962    1365.0   83.0   99.0    343    180    296    229    367
22  종로구  1471       8.0    7.0  599.0    132    195    148    281    101
23   중구  1544      25.0  165.0  114.0     80    245    270    317    328
24  중랑구  1068       NaN    NaN    NaN    770    102    121     66      9

In [4]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [6]:
# CCTV_Seoul의 첫번째 컬럼 확인
CCTV_Seoul.columns[0]

'기관명'

In [51]:
# 기관명 -> 구별 로 변경
CCTV_Seoul.rename( columns= {'기관명':'구별'} , inplace=True)
CCTV_Seoul.head()

    구별    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강남구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강동구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강북구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강서구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관악구  3985     430.0   56.0  419.0    487    609    619    694    671

In [53]:
# NaN을 확인하고 NaN을 0 으로 대체하기
CCTV_Seoul.isna().sum()

CCTV_Seoul.fillna(0 , inplace= True)

In [54]:
CCTV_Seoul.isna().sum()

구별          0
소계          0
2011년 이전    0
2012년       0
2013년       0
2014년       0
2015년       0
2016년       0
2017년       0
2018년       0
dtype: int64

---
## 인구현황 데이터

In [98]:
pop_seoul = pd.read_excel('../Data/population_in_Seoul_2020.xlsx', 
                            header=3 ,
                            usecols="B,D,G,J,N",
)
pop_seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10013781  9733655  280126   1518239
1  종로구    161984   151217   10767     28073
2   중구    136469   126175   10294     23794
3  용산구    246165   229579   16586     39439
4  성동구    307193   299042    8151     44728

In [99]:
# 컬럼 이름 변경
# pop_seoul.rename(columns={'자치구':'구별' , '계':'인구수' ,'계.1':'한국인' ,'계.2':'외국인' ,'65세이상고령자':'고령자' } ,  inplace=True)
pop_seoul.columns = ['구별','인구수','한국인','외국인','고령자']
pop_seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10013781  9733655  280126  1518239
1  종로구    161984   151217   10767    28073
2   중구    136469   126175   10294    23794
3  용산구    246165   229579   16586    39439
4  성동구    307193   299042    8151    44728

In [100]:
# 합계 열 없애기
pop_seoul.drop(index=0 , inplace=True)
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  161984  151217  10767  28073
2   중구  136469  126175  10294  23794
3  용산구  246165  229579  16586  39439
4  성동구  307193  299042   8151  44728
5  광진구  365990  350417  15573  48989

## CCTV 현황

In [101]:
# CCTV에서 소계로 오름차순 정렬
CCTV_Seoul.sort_values(by='소계' , ascending=True).head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
9,도봉구,858.0,197.0,66.0,8.0,185.0,59.0,155.0,117.0,71.0,66.601942
24,중랑구,1068.0,0.0,0.0,0.0,770.0,102.0,121.0,66.0,9.0,22.477064
2,강북구,1265.0,243.0,88.0,141.0,74.0,145.0,254.0,1.0,319.0,83.068017
22,종로구,1471.0,8.0,7.0,599.0,132.0,195.0,148.0,281.0,101.0,56.323061
23,중구,1544.0,25.0,165.0,114.0,80.0,245.0,270.0,317.0,328.0,145.468998

> CCTV 댓수가 적은 지역으로는 도봉구 , 중랑구, 강북구, 종로구, 중구 순이다.

In [102]:
# CCTV에서 소계로 내림차순 정렬
CCTV_Seoul.sort_values(by='소계' , ascending=False).head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
0,강남구,5221.0,1944.0,195.0,316.0,430.0,546.0,765.0,577.0,448.0,52.171379
4,관악구,3985.0,430.0,56.0,419.0,487.0,609.0,619.0,694.0,671.0,99.150425
6,구로구,3227.0,852.0,219.0,349.0,187.0,268.0,326.0,540.0,486.0,72.106667
16,성북구,3003.0,779.0,84.0,304.0,241.0,279.0,388.0,285.0,643.0,78.008299
21,은평구,2962.0,1365.0,83.0,99.0,343.0,180.0,296.0,229.0,367.0,43.091787

> CCTV 댓수가 많은 지역으로는 강남구, 관악구, 구로구, 성북구, 은평구 순이다.

### 최근 3년간 CCTV 증가율

In [103]:
CCTV_Seoul['최근증가율'] = (CCTV_Seoul.loc[:,'2016년':'2018년'].sum(axis=1)) / (CCTV_Seoul.loc[:,'2011년 이전':'2015년'].sum(axis=1)) * 100

# CCTV_Seoul['최근증가율'] =  CCTV_Seoul.iloc[:,7:10].sum(axis=1) / CCTV_Seoul.iloc[:,2:7].sum(axis=1) * 100
CCTV_Seoul.sort_values('최근증가율' , ascending= False).head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
23,중구,1544.0,25.0,165.0,114.0,80.0,245.0,270.0,317.0,328.0,145.468998
19,영등포구,2495.0,132.0,121.0,206.0,217.0,366.0,289.0,371.0,793.0,139.443378
15,성동구,2679.0,665.0,109.0,118.0,101.0,258.0,201.0,933.0,294.0,114.148681
7,금천구,1634.0,27.0,17.0,242.0,101.0,382.0,136.0,199.0,530.0,112.483745
5,광진구,1581.0,470.0,42.0,83.0,87.0,64.0,21.0,468.0,346.0,111.930295

> 결과를 보면 최근 3년간의 CCTV가 2015년 이전에 비해 가장 많이 증가한 곳은 중구, 영등포구, 성동구, 금천구, 광진구 순이다.

---
## 인구현황

In [104]:
# 구별 Data의 유효성 확인
len(pop_seoul['구별'].unique())

25

In [105]:
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  161984  151217  10767  28073
2   중구  136469  126175  10294  23794
3  용산구  246165  229579  16586  39439
4  성동구  307193  299042   8151  44728
5  광진구  365990  350417  15573  48989

In [106]:
pop_seoul['외국인비율'] = pop_seoul['외국인'] / pop_seoul['인구수'] * 100
pop_seoul['고령자비율'] = pop_seoul['고령자'] / pop_seoul['인구수'] * 100
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  161984  151217  10767  28073  6.646953  17.330724
2   중구  136469  126175  10294  23794  7.543105  17.435462
3  용산구  246165  229579  16586  39439  6.737757  16.021368
4  성동구  307193  299042   8151  44728  2.653381  14.560228
5  광진구  365990  350417  15573  48989  4.255034  13.385338

In [107]:
# 인구수가 제일 많은 지역 Top5
pop_seoul.sort_values('인구수' , ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  680883  674095   6788  89539  0.996941  13.150424
16  강서구  595703  589302   6401  85992  1.074529  14.435381
23  강남구  549898  544804   5094  72602  0.926354  13.202812
11  노원구  535495  531037   4458  82682  0.832501  15.440294
21  관악구  516662  499374  17288  76664  3.346095  14.838328

In [108]:
# 외국인이 제일 많은 지역 Top5
pop_seoul.sort_values('외국인' , ascending=False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404766  371903  32863  59373  8.119012  14.668475
17   구로구  438308  405837  32471  67432  7.408261  15.384615
18   금천구  251370  232583  18787  38508  7.473843  15.319251
21   관악구  516662  499374  17288  76664  3.346095  14.838328
6   동대문구  362793  346156  16637  60367  4.585811  16.639516

In [109]:
# 외국인 비율이 높은 지역 Top5
pop_seoul.sort_values('외국인비율' , ascending=False).head()
# 중구 외교관 가족들이 많음, 영등포구 중국인 많음

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404766  371903  32863  59373  8.119012  14.668475
2     중구  136469  126175  10294  23794  7.543105  17.435462
18   금천구  251370  232583  18787  38508  7.473843  15.319251
17   구로구  438308  405837  32471  67432  7.408261  15.384615
3    용산구  246165  229579  16586  39439  6.737757  16.021368

In [111]:
# 고령자수가 제일 많은 지역 Top5
pop_seoul.sort_values('고령자' , ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  680883  674095   6788  89539  0.996941  13.150424
16  강서구  595703  589302   6401  85992  1.074529  14.435381
11  노원구  535495  531037   4458  82682  0.832501  15.440294
12  은평구  482509  478019   4490  82245  0.930553  17.045278
21  관악구  516662  499374  17288  76664  3.346095  14.838328

In [110]:
# 고령자 비율 정렬
pop_seoul.sort_values('고령자비율' , ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
9   강북구  316750  312985   3765  61660  1.188635  19.466456
10  도봉구  333495  331238   2257  60023  0.676772  17.998171
2    중구  136469  126175  10294  23794  7.543105  17.435462
1   종로구  161984  151217  10767  28073  6.646953  17.330724
12  은평구  482509  478019   4490  82245  0.930553  17.045278

- 인구수 제일 많은 지역 : 송파구 강서구 강남구 노원구 관악구
- 외국인이 제일 많은 지역: 영등포구 구로구 금천구 관악구 동대문구
- 외국인 비율이 높은 지역 : 영등포구 중주 금천구 구로구 용산구
- 고령자 제일 많은 지역 : 송파구 강서구 노원구 은평구 관악구
- 고령자 비율이 높은 지역 : 강북구 도봉구 중구 종로구 은평구

강사님 풀이     
인구수가 제일 많은 지역은 송파구 이지만 영등포구가 제일 외국인이 많다.  
그리고 그 근처라고 할 수 있는 구로구, 금천구 등도 굉장히 외국인이 많다. (지역과 관련이 있다)    
송파구는 고령자가 제일 많지만 고령자의 비율이 높지 않은것이 확인된다.   
하지만 강북구, 도봉구, 중구, 종로구, 은평구 같은 경우는     
인구수 대비 고령자 비율이 많기 때문에 추후 "고령화"가 우려된다. (결론)

- 우리조의 삽질     

고령자 수랑 고령자 비율은 상관관계가 없어 보인다.

인구가 많을 수록 고령자의 수도 많다 (비율 무관)

고령자가 비율이 높은 지역은 강북에 쏠려있다. 
-> 먼저 개발되어있던 강북 쪽에 한국인이 이주하지 않고 지내며 고령화,  

강남 주변 인프라와 회사가 많기 때문에
-> 들어오는 사람도 계속 생기고, 나가는 사람은 적다 
-> 땅 덩어리가 크다
-> 외곽지역은 경기도와 가까워 인구수가 많다,,,? 

-> 강서구쪽 지역 집값이 저렴해 외국인(중국인)들이 많이 거주 : 영등포구 구로구 금천구
-> 용산구는 미군부대, 중구는 대사관 (외교관 가족)

---
# CCTV와 인구현황 합치기

In [113]:
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  161984  151217  10767  28073  6.646953  17.330724
2   중구  136469  126175  10294  23794  7.543105  17.435462
3  용산구  246165  229579  16586  39439  6.737757  16.021368
4  성동구  307193  299042   8151  44728  2.653381  14.560228
5  광진구  365990  350417  15573  48989  4.255034  13.385338

In [114]:
CCTV_Seoul.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
23,중구,1544.0,25.0,165.0,114.0,80.0,245.0,270.0,317.0,328.0,145.468998
19,영등포구,2495.0,132.0,121.0,206.0,217.0,366.0,289.0,371.0,793.0,139.443378
15,성동구,2679.0,665.0,109.0,118.0,101.0,258.0,201.0,933.0,294.0,114.148681
7,금천구,1634.0,27.0,17.0,242.0,101.0,382.0,136.0,199.0,530.0,112.483745
5,광진구,1581.0,470.0,42.0,83.0,87.0,64.0,21.0,468.0,346.0,111.930295

In [118]:
data_result = pd.merge(CCTV_Seoul, pop_seoul , on='구별')
data_result.head()

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,중구,1544.0,25.0,165.0,114.0,80.0,245.0,270.0,317.0,328.0,145.468998,136469,126175,10294,23794,7.543105,17.435462
1,영등포구,2495.0,132.0,121.0,206.0,217.0,366.0,289.0,371.0,793.0,139.443378,404766,371903,32863,59373,8.119012,14.668475
2,성동구,2679.0,665.0,109.0,118.0,101.0,258.0,201.0,933.0,294.0,114.148681,307193,299042,8151,44728,2.653381,14.560228
3,금천구,1634.0,27.0,17.0,242.0,101.0,382.0,136.0,199.0,530.0,112.483745,251370,232583,18787,38508,7.473843,15.319251
4,광진구,1581.0,470.0,42.0,83.0,87.0,64.0,21.0,468.0,346.0,111.930295,365990,350417,15573,48989,4.255034,13.385338

In [126]:
data_result.drop( data_result.columns[2:10] , axis= 1).head()

     구별      소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
0    중구  1544.0  145.468998  136469  126175  10294  23794  7.543105  17.435462
1  영등포구  2495.0  139.443378  404766  371903  32863  59373  8.119012  14.668475
2   성동구  2679.0  114.148681  307193  299042   8151  44728  2.653381  14.560228
3   금천구  1634.0  112.483745  251370  232583  18787  38508  7.473843  15.319251
4   광진구  1581.0  111.930295  365990  350417  15573  48989  4.255034  13.385338

In [127]:
# 범위가 많으면 쓰기 좋은 방법
delColumn = data_result.columns[2:10]

for i in delColumn:
    del data_result[i]
data_result.head()

     구별      소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
0    중구  1544.0  145.468998  136469  126175  10294  23794  7.543105  17.435462
1  영등포구  2495.0  139.443378  404766  371903  32863  59373  8.119012  14.668475
2   성동구  2679.0  114.148681  307193  299042   8151  44728  2.653381  14.560228
3   금천구  1634.0  112.483745  251370  232583  18787  38508  7.473843  15.319251
4   광진구  1581.0  111.930295  365990  350417  15573  48989  4.255034  13.385338

In [131]:
data_result.set_index('구별' , inplace=True)
data_result.head()

          소계       최근증가율     인구수     한국인    외국인    고령자     외국인비율      고령자비율
구별
중구    1544.0  145.468998  136469  126175  10294  23794  7.543105  17.435462
영등포구  2495.0  139.443378  404766  371903  32863  59373  8.119012  14.668475
성동구   2679.0  114.148681  307193  299042   8151  44728  2.653381  14.560228
금천구   1634.0  112.483745  251370  232583  18787  38508  7.473843  15.319251
광진구   1581.0  111.930295  365990  350417  15573  48989  4.255034  13.385338

In [134]:
import numpy as np

In [135]:
# 고령자 비율과 소계(cctv)의 상관계수
np.corrcoef(data_result['고령자비율'] , data_result['소계'])
# 고령자 비율이 낮은쪽에 cctv가 많다

array([[ 1.        , -0.44225083],
       [-0.44225083,  1.        ]])

In [136]:
# 고령자와 소계(cctv)의 상관계수
np.corrcoef(data_result['고령자'] , data_result['소계'])

array([[1.        , 0.28638538],
       [0.28638538, 1.        ]])

In [137]:
# 외국인 비율과 소계(cctv)의 상관계수
np.corrcoef(data_result['외국인비율'] , data_result['소계'])

array([[ 1.        , -0.06215538],
       [-0.06215538,  1.        ]])

In [138]:
# 외국인과 소계(cctv)의 상관계수
np.corrcoef(data_result['외국인'] , data_result['소계'])

array([[1.        , 0.17444235],
       [0.17444235, 1.        ]])

In [139]:
# 인구수와 소계(cctv)의 상관계수
np.corrcoef(data_result['인구수'] , data_result['소계'])
# 인구수와 양의 상관관계
# 인구수가 많아지면 cctv가 많아지는 경향을 보인다.
# 외국인과는 아무런 상관관계가 없다

array([[1.        , 0.38064812],
       [0.38064812, 1.        ]])

> 고령자 비율의 상관계수를 보면 역상관이 발생하고 이는 고령자가 아닌 젊은 층 비율이 높은 곳에 CCTV가 많이 설치되는 경향을 보이며     
> 주로 인구수와 양의 상관을 보이고 있어 CCTV 댓수는 인구수에 비례하여 증가하는 경향을 보인다.